
<div class="header--logo">
    <img src="../../../../assets/images/icon-shopeame.png" class="header--logo__icon">
    <h1>Shopéame!</h1>
</div>

<div class="header--links">
    <app-navroutes [link]="'/'" [url]="'../../../../assets/images/home.png'" [text]="'Home'"></app-navroutes>
    <app-navroutes [link]="'/products'" [url]="'../../../../assets/images/prismatic.png'" [text]="'Prods.'"></app-navroutes>
    <app-navroutes [link]="'/gestion'" [url]="'../../../../assets/images/timon.png'" [text]="'Gestión'"></app-navroutes> 
</div>