
.galery--wrap{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
    &__item{
        max-width: 200px;
    }
} 
.galery--list{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 20px;
}